<div class="ui fluid container">
    <div class="ui borderless menu" id="menu">
        <div class="ui container">
            <div class="header item">
                <h1 class="title" ui-sref="work">DAN HOANG LE</h1>
            </div>
            <div class="right menu">
                <a class="item" ui-sref="work">PORTFOLIO</a>
                <a class="item" ui-sref="about">ABOUT</a>
            </div>
        </div>
    </div>
</div>
<div class="ui container">
    <div class="ui stackable grid" id="about">
        <div class="eight wide column">
            <img class="ui large image" src="https://raw.githubusercontent.com/dhl1337/portfolio/master/public/assets/img/FullSizeRender.jpg" alt="">
        </div>
        <div class="eight wide column">
            <h1 id="aboutHeader">HELLO</h1>
            <p class="info">I’m a 25-year-old, motivated web developer that studied Database, Web Design, and Programming. I am a compulsive self-learner, which is why I am always curious and experience is the results to constantly learning and experimenting new technology.</p>
            <h1 id="servicesHeader">WHAT I CAN DO FOR YOU?</h1>
            <p class="info">I'd love to bring any awesome design ideas to life. I have a passion for creating responsive and modern websites for projects anywhere from big to small.</p>
            <p class="info">New technology is rapidly growing at a fast pace and is being implemented everyday; I am always continuing to learn and apply those new technologies to keep my websites up to date. </p>
            <p class="info">If you like my projects or just want to have a chat please contact me!</p>
            <div class="ui center large horizontal list" id="contactList">
                <a class="item" href="mailto:dhl1337@gmail.com">EMAIL</a>
                <a class="item" href="https://github.com/dhl1337" target="_blank">GITHUB</a>
                <a class="item" href="https://www.linkedin.com/in/danhoangle" target="_blank">LINKEDIN</a>
                <a class="item" href="./assets/pdf/Dan Le Resume.pdf" target="_blank">RESUME</a>
            </div>
        </div>
    </div>
</div>