<div class="ui borderless menu" id="menu">
    <div class="ui container">
        <div class="header item">
            <h1 class="title" ui-sref="work">DAN HOANG LE</h1>
        </div>
        <div class="right menu">
            <a class="item" ui-sref="work">PORTFOLIO</a>
            <a class="item" ui-sref="about">ABOUT</a>
        </div>
    </div>
</div>
<div class="ui container">
    <div class="ui stackable equal width grid">
        <div class="column" id="welcome">
            <div class="intro">
                <h1 class="welcomeHeader">WELCOME</h1>
                <p class="info">I love to collaborate. I'm currently looking for other creative minds to work, grow, and network. Get in touch!</p>
            </div>
        </div>
        <div class="column dimmable" id="waitr">
            <div class="ui dimmer">
                <div class="content">
                    <div class="center">
                        <h1 class="ui inverted header">Waitr</h1>
                        <a class="ui button" id="moreInfobtn" ui-sref="waitr">MORE INFO</a>
                        <a class="ui button" id="visitSitebtn">UNDER CONSTRUCTION</a>
                    </div>
                </div>
            </div>
            <img class="ui small centered image" id="waitrImg" src="https://raw.githubusercontent.com/dhl1337/portfolio/master/public/assets/img/waitr.png">
        </div>
    </div>

    <div class="ui stackable equal width grid">
        <div class="column dimmable" id="forage">
            <div class="ui dimmer">
                <div class="content">
                    <div class="center">
                        <h2 class="ui inverted header">Favour</h2>
                        <a class="ui button" id="moreInfobtn" ui-sref="favour">MORE INFO</a>
                        <a class="ui button" id="visitSitebtn" href="https://needsfavor.firebaseapp.com" target="_blank">VISIT SITE</a>
                    </div>
                </div>
            </div>
            <img class="ui fluid centered image" id="favourImg" src="https://raw.githubusercontent.com/dhl1337/portfolio/master/public/assets/img/macbook%20pro%20retina.png" alt="">
        </div>
        <div class="column dimmable" id="favour">
            <div class="ui dimmer">
                <div class="content">
                    <div class="center">
                        <h1 class="ui inverted header">Forage</h1>
                        <a class="ui button" id="moreInfobtn" ui-sref="forage">MORE INFO</a>
                        <a class="ui button" id="visitSitebtn">UNDER CONSTRUCTION</a>
                    </div>
                </div>
            </div>
            <img class="ui fluid centered image" id="forageImg" src="https://raw.githubusercontent.com/dhl1337/portfolio/master/public/assets/img/forageHome.png" alt="">
        </div>
    </div>
</div>