<div class="ui fluid container">
    <div class="ui borderless menu" id="menu">
        <div class="ui container">
            <div class="header item">
                <h1 class="title" ui-sref="work">DAN HOANG LE</h1>
            </div>
            <div class="right menu">
                <a class="item" ui-sref="work">PORTFOLIO</a>
                <a class="item" ui-sref="about">ABOUT</a>
            </div>
        </div>
    </div>
</div>
<div class="ui container">
    <div class="ui stackable grid">
        <div class="sixteen wide column">
            <h1 class="ui header" id="waitrProHeader">WAITR</h1>
        </div>
        <div class="seven wide column">
            <div class="ui vertical segment">
                <h1 class="waitrHeader">ABOUT</h1>
                <p class="waitrSent">Waitr is a mobile application created by a group of 5 developers. It allows customers to conveniently add their name on a waiting list without being at the restaurant and receive text notification when the table is ready. Customers and restaurant employees can see the waiting list, therefore employers will know whom to seat next and customers know their spot in line. In addition, customers can see the menu, contact information, and store hours.</p>
            </div>
            <div class="ui vertical segment">
                <h1 class="waitrHeader">RESPONSIBILITY</h1>
                <p class="waitrSent">I helped my team carefully plan out each step for the project. Once we got all our ideas together I completed a mock up on sketch then presented it to the group. After everyone has agreed we divided the work. I started from the backend and connect the frontend to the back. If there were any questions, comments, or concerns about the project I would address it.</p>
            </div>
            <div class="ui vertical segment">
                <h1 class="waitrHeader">TECHNOLOGY</h1>
                <p class="waitrSent">The technology used to build Waitr were <strong class="waitrStrong">JavaScript, HTML5, CSS3, AngularJS, MongooseJS, Express.js, Node.js, Socket.io, Ionic, and Moment.js</strong></p>
                <a class="ui button" id="waitrBtn">UNDER CONSTRUCTION</a>
                <a class="ui button" id="githubBtn" href="https://github.com/waitr-group-project/waitr" target="_blank">VIEW SOURCE</a>
            </div>
        </div>
        <div class="eight wide column">
            <img class="ui medium centered image" src="https://raw.githubusercontent.com/dhl1337/portfolio/master/public/assets/img/waitr.png" alt="">
        </div>
    </div>
    <div class="buttons footer">
        <button class="ui labeled icon button" id="leftButton" ui-sref="forage">
            <i class="big chevron left icon"></i>
            PREVIOUS WORK <br>
            <h1 class="btnLeft">FORAGE</h1>
        </button>
        <button class="ui right labeled icon right floated button" id="rightButton" ui-sref="favour">
            <i class="big chevron right icon"></i>
            NEXT WORK <br>
            <h1 class="btnRight">FAVOUR</h1>
        </button>
    </div>
</div>

